In [121]:
import pandas as pd

In [127]:
import conexion as cn

In [128]:
business= cn.businessdf

In [129]:
review= cn.reviewdf

In [130]:
checkin = cn.checkindf

AttributeError: module 'conexion' has no attribute 'checkindf'

In [97]:
review['business_id']

0      tYCok-NtWvg8_k7woeB83w
1      Wr2k0Vz8RbcumYulp-jIrA
2      QKFojAIRYfQQzwssuoKjzw
3      OINbC0rpDVJ5bfxt3LO9fw
4      SIoCIxjn4jLt2O-4DajWJw
                ...
995    IDtLPgUrqorrpqSLdfMhZQ
996    hS6KNGCQVTYUdLb2edt58g
997    neWdmzHgbpqSx62jynDd7A
998    Zcc12beUPFCe2U0DizJUNg
999    -Fka99c-tJ-epWYNIobqyQ
Name: business_id, Length: 1000, dtype: object

In [95]:
business['business_id']

0      61oyIzeFjG977kMhMxVznw
1      Dtuf4vD0znzwJW9vk3iTNw
2      luGY5CJlb4CJ3LrBcSXMPA
3      jcL_qaGJiappzpnn-ifSoA
4      feVi5a5xZaahs4WsUfi1tw
                ...
995    4dVrWc4Nhuw9apfk9BWEcA
996    ARb-hdkQ7Qla0FKCo4SPcA
997    VeFfrEZ4iWaecrQg6Eq4cg
998    Cyy0zZz5ixYjSX4o4sacpg
999    TapXvuOEC3qGGmlf03INnA
Name: business_id, Length: 1000, dtype: object

In [105]:
filtro = business['business_id'].to_list()
#ids = filtro['business_id'].to_list()
#filtro

In [106]:
review.loc[review['business_id'].isin(filtro)]

,review_id,business_id,cool,date,funny,stars,text,useful,user_id
16,0UnK7dQKT3ogC2sBCeYWLA,vje0KIiE7vtpx7JzmBx5LQ,0,2015-10-08,0,5.0,I went to the pearl for my birthday and every ...,0,Rhk8owk3uhFTvzJdYbQ6Xg
51,mMwnX1vc3tQUeDNS2wiKFw,9OG5YkX1g2GReZM0AskizA,0,2016-01-30,0,4.0,Great bar Happy Hour 4-7 every day. Wine & Dra...,0,f10WH1fXhy-68r4AEEhAWA
64,bg3TAimbMppppLUTfN46nA,EIlFs8kybcG-l60GJjNUIA,0,2017-02-09,0,1.0,AVOID AT ALL COSTS\nBy far the worst pizza I'v...,0,R9VOYcIWbNA3Q3qiWF2SsQ
81,6odPSjoPWOyeDQpgJbdGaA,oaboaRBUgGjbo2kfUIKDLQ,0,2016-03-30,0,5.0,Super tasty and enormous portions. Some unique...,0,jLr7vcDg43TqS2OK4ROvPQ
82,uwPhE21CZLlp1kkSMPvvYw,WKMJwqnfZKsAae75RMP6jA,0,2012-11-06,0,3.0,So much to like about this place--the beautifu...,0,5OnQqP3q2_9auNdDKpLdsw
...,...,...,...,...,...,...,...,...,...
873,40thYphUgIfvJq17QCfTwA,0pMj5xUAecW9o1P35B0AMw,1,2017-05-26,0,5.0,Great staff always helps and always nice. Alwa...,1,QzCEzH3R7Z6erOGLr3t55Q
923,m6EMoIqkLWn01UrqVOI2yA,W4ZEKkva9HpAdZG88juwyQ,0,2014-03-14,0,5.0,If you're looking for a great brunch place in ...,1,86Fgk1s0tAVioJtVnJeBHg
971,q22lpVDGRGiglEUqjdbA4A,P10BsKUeoeCeVoK4BS2u0w,0,2012-05-28,0,2.0,I've been wanting to try Trust Me BBQ for over...,5,8BWSevPgwWzMwqu_K-AdfA
977,FEcORupb9Fep465-KFUKcw,7clCBgNbd-x2Wj96lZ6Mjw,0,2012-12-04,0,3.0,"Love the tap room, but I can't seem to get the...",0,6AYTZLiwTHIn4gTbCl7JMA
995,LFpaQzYkP5Pzm5lEjJpTRw,IDtLPgUrqorrpqSLdfMhZQ,0,2017-01-15,0,5.0,Possibly the best breakfast sandwich EVER. On...,0,Ttb21DpWqphQMNSS5TXgMA

In [14]:
business = pd.read_csv(r'C:\Users\julie\OneDrive\Escritorio\trabajogrupal\trabajofinal\streamlit\business_1000.csv')
name_business = business['name']
checkin = pd.read_csv(r'C:\Users\julie\OneDrive\Escritorio\trabajogrupal\trabajofinal\streamlit\checkin_1000.csv')
review = pd.read_csv(r'C:\Users\julie\OneDrive\Escritorio\trabajogrupal\trabajofinal\streamlit\review_1000.csv')

In [49]:
a = name_business.to_list()

In [46]:
filtro = business[business['name'] == 'Plume Salon']
ids = filtro['business_id'].to_list()

In [56]:
business[business.business_id=='1TDkOZykS66a7pV6yeAAHQ']

Empty DataFrame
Columns: [business_id, name, postal_code, latitude, longitude, stars, review_count, is_open]
Index: []

In [52]:
checkin.business_id

0      ---kPU91CF4Lq2-WlRu9Lw
1      --0iUa4sNDFiZFrAdIWhZQ
2      --30_8IhuyMHbSOcNWd6DQ
3      --7PUidqRWpRSpXebiyxTg
4      --7jw19RH9JKXgFohspgQw
                ...
995    -TczrbbjQKfoNGCeNXcurg
996    -TdNv5o5J2JjTmIuAbIWzw
997    -TgNuaotu3vobBRt5KyiVw
998    -Thb5brv1ARwIa0j5HHBeA
999    -Ti5pwj6mA99khsxxur8aQ
Name: business_id, Length: 1000, dtype: object

In [54]:
review.business_id

0      ---kPU91CF4Lq2-WlRu9Lw
1      --LC8cIrALInl2vyo701tg
2      --epgcb7xHGuJ-4PUeSLAw
3      --gJkxbsiSIwsQKbiwm_Ng
4      --hF_3v1JmU9nlu4zfXJ8Q
                ...
995    1T4i26dJimZ0pB6x68Sk5g
996    1T84BU5oHZA4yDrKtucGVg
997    1T9F7iLDFAYWJvif1RKneg
998    1TAHFIs5ETVVB9X9R3Jwrw
999    1TDkOZykS66a7pV6yeAAHQ
Name: business_id, Length: 1000, dtype: object

In [50]:
checkin.loc[checkin['business_id'].isin(a)]

Empty DataFrame
Columns: [business_id, number_visits]
Index: []

In [51]:
review.loc[review['business_id'].isin(a)]

Empty DataFrame
Columns: [business_id, neg_reviews, pos_reviews]
Index: []

In [9]:
review1 = review[review['business_id'] == ids]
checkin1 = checkin[checkin['business_id'] == ids]

ValueError: Can only compare identically-labeled Series objects

In [131]:
seccion = cn.seccion

In [132]:
def cql_to_pandas(cql_query,cassandra_session):
    def pandaspark_factory(colnames, rows):\
        return pd.DataFrame(rows, columns=colnames)
    cassandra_session.row_factory = pandaspark_factory
    cassandra_session.default_fetch_size = None
    result = cassandra_session.execute(cql_query, timeout=None)
    return result._current_rows

In [139]:
cql_to_pandas("""select name from yelp.business ALLOW FILTERING;""",seccion)

                                       name
0                     Distler's Auto Repair
1    Tomo Japanese Steakhouse and Sushi Bar
2                      Desert Design Center
3                                 Fat Jakks
4                              CVS Pharmacy
..                                      ...
995                     Walmart Supercenter
996                          Rosemont Plaza
997                                Cal Taco
998                           Lip Collision
999                                Addendum

[1000 rows x 1 columns]